/*MAIN ordered*/
* {
    margin: 0 auto;
    padding: 0;}

html, body{
    height: 100%;
    width: 100%;
}
#body {
     z-index: 0;  
    font-family: 'lobster', cursive;
    height: 100%;
    width: 100%;
  
    text-align: center;
    background: linear-gradient(
            80deg,
        #f1f,
        #0f0,
        #123
    );   
}
body:hover {
    background: linear-gradient(
        80deg,
        #321,
        #f0f
        #1f1,
        #f0f,
        #321 );}

header {
    position: relative;
   top: 0  auto;
    width: 95%;
 
}
img  {
    box-shadow: 5px 10px 18px red; 
    height: 8vh;
    width: 8vw;
    display: inline-block;
    border-radius: 10%;
}

header button {
    position: relative;
    color: #04AA6D;
    height: 10vh;
}
/*Table*/
table {
    background-color: white;
    z-index: 2; }

td {
    margin-bottom: 2%;
    display: inline-block;
    font-size: 2.2vw;
    width: 15%;
    height: max-content;
    position: relative;
    overflow-x: hidden;
    vertical-align: top; }
tr { width: 100%;
    height: 33%;
}


td .description {border: 2px solid black; background-color: #00ffff; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; height:10vh; overflow: auto;}
span {
    background-color: #faf;
}
/*table class/ids*/
.tdtile{ font-size: 3.2vw; border: 1px dashed aqua; background-color: azure; min-height: 8vw; height: 3vh; width:100%; margin-bottom: 1%; box-shadow:1px 25px 18px #f5f5f555, 1px 10px 5px #f5f5f555}
/*Headers*/
h1 {
     float: left ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
h2 {
    display: inline-block;
    margin: 0 auto;
    font-size: 60px;
    color: #000;
    box-shadow: 0 10px 20px rgba(1,1,1,1.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #04AA6Daf;
    border-radius: 10%;
    height: 10vh;
    width: 20%;
}
h2 p {
    opacity:1 ;     
}
h3 {
    color: #fafafa;
    font-size: 8vh;
}
h6 {
    font-size: 6vh;
    float: right;
}
#igmessage {
position: absolute;
right:2%;
margin-top: 28vh;
}

p {
    display: inline-block;
}

button a {
 background-color: #fafafa;   
}
span {
    box-shadow: 5px 10px 18px red;
    display: inline-table; 
}
progress {
    min-width: 40%;	
    width: 50%;

}

/*MIXER*/

  #lower-buttons button 
{
  box-shadow: 5px 10px 18px red;
  
}
div a strong {
    color: #fafafa;
    background: #000;
    font-size: 1.5vh;
}


/*Class list*/
.mana{
height: 15px;
width: 15px;
border-radius: 50%;
display: inline-block;
opacity: 1;
background-image: url(../Logs/bluering.png);
background-size: contain;
background-blend-mode: darken;
background-color:     
    #00ffff
}

.rage{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    opacity: 1;
    background-position-x: center;
    background-image: url(../Logs/rring.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-color: #ffa1a155;          
}

.desription {
    font-size: 990px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
}

.red {
    color: #ff0000;
}

.green {
    color: #0f0;
    font-size: 200%;
}

.upgradebutton {
    background-image: url(https://user-images.githubusercontent.com/84670867/141205653-b4f4351e-2d3f-4635-a779-317d8a024f7b.jpg);
    background-size: contain;    
    position: relative;
    display: inline-block;
    max-width: 10vw;
    min-width: 8vw;
    color: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.Imagebtn {
    float: right;
    height: 10vh;
    width: 10vw;
    z-index: 1;
  text-align: center;
}

.Gamebtn {
    position: relative;
    background-size: contain;
    background-position-x: center;
    background-position-y: center; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
}

/*Mana Slider time function*/
.slidecontainer {
    width: 100%;
    text-align: center;
    height: 1vh;
   bottom: 0 auto;
   padding-bottom: 1vh;
   margin-bottom: 0.2vh;    
}

.diamondsvg{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTl3Q0nUuZKBgqIzeSaQSVQoRNrXNB4G7TgAg&usqp=CAU);
    background-size: contain; background-position-x: center; background-position-y: center;

}

#manabar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vh;
    max-width:99.9%;
    position: absolute;
    z-index: 4;
    border-top-right-radius: 10%; border-bottom-left-radius: 10%;
    background: radial-gradient(circle, 
        #00ffff,
        #00ff1f );
    color: #0f0;
    height: 2vh;
    
}


.clickerimage {
    width: 5%;
    height: 5%;
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
}
/*card*/
#card {
    font-size: small;
    text-align: left;
   float: left;
    background-color: #00000000;
    color: #707;
    
    width: 40vw ;
    border-radius:0 0 10% 10%;
    display:none;
}
#cardbutton {
    opacity: 1;
    float: right;background-image: url(../Logs/arrow.png);
    background-size: contain; transform: rotate(-90deg); height: 10vh; width:10vh; 
    border-radius: 10%; border: ridge 2px aqua; background-repeat:no-repeat ;
}
#cardwrap {
    position: absolute;
    top: 30vh;
    min-width: 40vw;
    height: min-content;
    left: -33vw;
}
/*Click area*/
#main {
   width: 100%;
    height: 96vh;
    border: 10px solid black;
    margin: 0 auto;
    background-image: url(../Logs/chestultra.png);
    background-repeat: no-repeat;
    background-size:50% ;
    background-position-x: center;
    background-position-y: center;
    z-index: -1;   
}
/*Button styling*/
/*#topbuttons*/
#upgrades {
    float: left;
}
#options {
    
    float: left;
    background-repeat:no-repeat;
    background-size: cover;
}
#Diamonds {
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxzft-PqYTFnCbxvwY_xbweTOrcu67IlXabA&usqp=CAU);
    background-size:contain ;
    color: #0f0;
    border-radius: 50%;
    background-repeat: no-repeat;

}
#prestige {  
    color: #fff;
    text-align: center;
} 
#prestigebar{ 
   
    width: 80%; height: 1vmin; background-color: khaki;
}
#refresh {
    background-size: contain;
}
/*Lower trwat*/
#boxmain {
    background: #000;
    box-shadow: 5px 10px 18px 10px  #a9a9a9; 
    position:absolute;
    
    left: 1vw;
    margin: 0 auto;
   margin-top: 74vh;
    height: 22vh;
    display: table-row;
    width: 98%;
    
}

#fireball { 
    background-repeat: no-repeat;
    background-color: #000;
}
.cast {
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #000;
        opacity: 0.7;
        animation-name:cooldown;
        animation-duration: 5.1s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
    
#iceball {
    background-image: url(../Logs/fireballblue.png);
    background-repeat: no-repeat;
    background-color: #0f0;
}

#arcaneball {
    background-image: url(../Logs/fireballspellmirror.png);   
    background-repeat: no-repeat;
    background-color: #f0a;
    border-radius: 10%; 
}
#earthball {
    background-image: url(../Logs/fireballearthmirror.png);
    
    background-repeat: no-repeat;
    background-color: #00fd;
    border-radius: 10%; 
}
#m5 {
    background-image: url(../Logs/confuseball.png);
    
    background-repeat: no-repeat;
    background-color: #000;
    border-radius: 10%; 
 
} 
#m6 {
    background-image: url(../Logs/rageballeye.png);
    
    background-repeat: no-repeat;
    background-color: #000;
    border-radius: 10%; 
   
} 
#metergain {
    background-image: url(../Logs/mfireball.png);

    background-repeat: no-repeat;
    background-color: #000; 

}
#clicker {
    background-image: url(../Logs/click.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-color: #f0a;
    
    border-radius: 10%;  
}   
#buyauto {
    background-image: url(../Logs/Searchchest.PNG);
   
    background-repeat:no-repeat;
    background-size: cover;
    background-color: #f0a;
    border-radius: 10%; 
} 
#rage{
   
    background-color: #04AA6D;
    background-repeat:no-repeat;
    background-size: cover;
    background-color: red;
    border-radius: 10%; 
    opacity: 1;
}


/**/
#head {position: absolute;
    display: block;
    font-size: 50px;
    transform: translate(-50%, -50%);
   opacity: 1;
}
.finished {border: 2px solid lightgreen;}
.selected{
    box-shadow: 1px 1px 8px gray, 1px 1px 8px goldenrod, 1px 1px 8px goldenrod;
    font-size: 2vh;
    color: thistle;
    -webkit-text-stroke: 2px black;
}
.deselected{
    box-shadow:0;
    
}

/* Doesnt need to exit forever*/
#dev-tools {
font-family: 'lobster', cursive;
}

.firecooldown{
    animation: cooldown 6000ms ease-in-out ;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);    
}
.arccooldown{
    animation: arccooldown 1000ms  ease-out ;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);    
}
.earthcooldown{
    animation: cooldown 10000ms ease-out;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
.icecooldown{
    animation: cooldown 10000ms reverse;
    animation-fill-mode: reverse;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);    
}
@keyframes arccooldown {
    from { background: linear-gradient(to right, pink 100%);}
    0% { background: linear-gradient(to right, #f05 1%,pink, pink,pink,pink,  pink, pink, pink, pink, pink );}
    10% { background: linear-gradient(to right, #f05 1%,pink,pink,pink,pink,  rgb(248, 237, 239) );} 
    20% { background: linear-gradient(to right,  #f06 1%,pink,pink, pink, pink, pink,pink,);}
    45% { background: linear-gradient(to right, #f05 1%,pink,pink,pink,  pink,  );} 
    50% { background: linear-gradient(to right,  #f07 1%,pink, pink, pink,   );}
    70% { background: linear-gradient(to right, #f05 1%,pink,pink,  pink );} 
    80% { background: linear-gradient(to right,  #f19 5%, pink, pink, );}
    90% { background: linear-gradient(to right, #f05 1%,pink  );} 
    100% { background: linear-gradient(to right, #f29, #f29 15%, pink ) ;}
    to { background-color: pink; opacity: 0.9;}
}
@keyframes cooldown {
    0% {opacity: 0.9;background:radial-gradient(circle at 50%, #333, #333 5%, #eee 10%, #333 75%); }
    10%{background:radial-gradient(circle at 50%, #333, #333 15%, #eee 25%, #333 75%);}
    20%{background: radial-gradient(circle at 50%, #333, #333 25%, #eee 35%, #333 75%);}
    30% {background: radial-gradient(circle at 50%, #333, #333 35%, #eee 45%, #333 75%); }
    40%{background: radial-gradient(circle at 50%, #333, #333 45%, #eee 55%, #333 75%); } 
    50%{background: radial-gradient(circle at 50%, #333, #333 55%, #eee 65%, #333 75%);  }
    60%{background: radial-gradient(circle at 50%, #333, #333 65%, #eee 75%, #333 75%);  }
    70%{background: radial-gradient(circle at 50%, #333, #333 75%, #eee 85%, #333 75%);  }
    80%{background: radial-gradient(circle at 50%, #333, #333 85%, #eee 85%, #333 75%);  }
    90%{background: radial-gradient(circle at 50%, #333, #333 95%, #eee 90%, #333 75%);  }
    100%{background: radial-gradient(circle at 50%, #333, #333 99%, #eee 100%, #333 75%);}
}
@keyframes backwardcooldown {}
#hiddenwrap{
    display: none;
    position: absolute;
    background-color: #00ffff;
    border: 2px solid #0f0 ;
     top: 0.5vh;
    left: 1vw;
    z-index: 0;
    height: 100%;
    width: 98%;

}
#closemenu {
    
    background-color: #faf;
}
.hiddentab {
    font-family: 'lobster', cursive;
    height: 25vh;
    width: 90vw;
    top: 5vh;
    left: 4vw;
    z-index: 0;
    display: inline-block;
    position: absolute;
}
#hiddenupgrades {
      position: absolute;
      background-color: rebeccapurple;
      border: 2px solid blanchedalmond;
}
#upgradetable {
    display: inline-block;
    height: 92vw;
    position: absolute;
      background: linear-gradient(
        80deg,
        #321,
        #f0f,
        #1f1,
        #f0f,
        #321
    );
}

#prestigetable{
    display: block;
    opacity: 1;
    z-index: 2;
}
#prestigetab{background-size: cover; background-image: url(http://clipart-library.com/data_images/13248.jpg); color: blanchedalmond; -webkit-text-stroke: 0.5px black;}

#stats{
display: block;
}
#stats > div.stats{ background-color: #00ffff;
    width: 30%;
margin-top: 0 auto;}

figure {
     margin :0 auto;
     position: relative;
     height: min-content;
     width: min-content;
     background:radial-gradient(rgb(243, 208, 6),rgb(229, 213,2));
 }

#bannerlevel{
    position: absolute;
    text-align: center;
    margin: 0;
    left: 49%;
    z-index: 2;
    background-color: #00ffff55;
    font-size: 6vh;
    color: gold;
    -webkit-text-fill-color: goldenrod; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/*Credits laredgames.itch.io/gems-coins-free */


/* Overflowtoggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/*Bumper jumper*/
#game {
    border: 10px solid #000;
    width: 1000px;
    height: 400px;
    background-image:url(../../Pictures/Logos/bg.jfif);
    background-repeat: repeat-x;
    background-size: contain;
    animation: BG  1s  linear infinite;
}
@keyframes BG {
    from {background-position-x: 0px ;}
    to {background-position-x: -1000px ;}
}
#character {
    width: 100px;
    height: 100px; 
    position: relative;
    top: 200px;
    background-image: url(../../Pictures/Logos/buttr.jfif);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;  
}
.animate{
    animation: jump 500ms;
}
@keyframes jump {
    0% {top: 200px;}
    30% {top: 100px;}
    70% {top: 100px;}
    100% {top: 200px;}
}
#block {
    
    width: 40px;
    height: 40px;
    position: relative;
    top: 150px;
    left: 1000px;
    background-color: aqua;
    animation: block 1s linear infinite;
}
@keyframes block {
    0% {left: 1000px;}
    100% {left: -40px;}
}
#plonk {
    width: 40px;
    height: 40px;
}
